# TODO: replace broken link (HackAtari is not used right now)
# -e git+https://github.com/k4ntz/HackAtari@8c91098b975bd6cdc68b485287ec33c20065150d#egg=hackatari&subdirectory=../../HackAtari
nicegui==2.9.1
numpy==1.26.4
pycairo==1.27.0
PyGObject==3.50.0
pywebview[QT]==5.3.2
graphviz==0.20.3
pettingzoo[atari]==1.24.3   # requires multi_agent_ale_py, which works only with Python 3.9
torch==2.6.0
SuperSuit==3.9.3
